@use "../abstract" as *;

.contact {
  background-color: $clr--tiertery;
  position: relative;
  padding-bottom: 23rem;
  margin-bottom: 20rem;
  @include mediaQuery(520px) {
    & {
      position: static;
    }
  }
  @include mediaQuery(520px) {
    margin-bottom: 5rem;
  }

  &__title h3 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  &__img {
    position: absolute;
    left: 25%;
    @include mediaQuery(520px) {
      & {
        left: 15%;
      }
    }

    img {
      width: 60rem;
      height: 40rem;
      @include mediaQuery(520px) {
        width: 24.5rem;
        height: 30rem;
      }
    }
  }
}

.contactForm {
  padding: 4rem 0;

  &__wrapper {
    @include gridCustom(3fr 1fr, 2rem);
    @include mediaQuery(520px) {
      @include gridCustom(1fr, 2rem);
    }
  }
  &__details {
    h2 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
    form label,
    form input {
      display: block;
    }

    form input {
      border: 1px solid black;
      width: 64rem;
      height: 4rem;
      font-size: 24px;
      @include mediaQuery(520px) {
        width: 20rem;
      }
    }
    form textarea {
      border: 1px solid black;
      width: 64rem;
      height: 20rem;
      margin-bottom: 1rem;
      font-size: 24px;
      @include mediaQuery(520px) {
        width: 20rem;
      }
    }
  }

  &__info {
    margin-top: 8rem;

    padding: 4rem;
    height: 33rem;
    align-items: center;
    border: 1px solid $clr--primary;
    background-color: $clr--primary;
    h3,
    h4,
    p {
      color: $clr--light;
    }
    h3 {
      padding-bottom: 1rem;
    }
    h4 {
      padding-bottom: 1rem;
    }
    i {
      color: $clr--light;
      margin-right: 1rem;
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }
  }
  &__socials {
    display: flex;
  }
}
