@use "../abstract" as *;

.contact {
  background-color: $clr--tiertery;
  position: relative;
  padding-bottom: 33rem;
  margin-bottom: 20rem;

  &__title h3 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  &__img {
    position: absolute;
    left: 20%;

    img {
      width: 90rem;
      height: 50rem;
    }
  }
}

.contactForm {
  padding: 4rem 0;
   
  &__wrapper {
    @include gridCustom(3fr 1fr, 2rem);
  }
  &__details {
    h2{
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 2rem;
    }
    form label,
    form input {
      display: block;
    }

    form input {
      border: 1px solid black;
      width: 64rem;
      height: 4rem;
      font-size: 24px;
    }
    form textarea {
      border: 1px solid black;
      width: 64rem;
      height: 20rem;
      margin-bottom: 1rem;
      font-size: 24px;
    }
  }

  &__info {
    margin-top: 8rem;

    padding: 4rem;
    height: 33rem;
    align-items: center;
    border: 1px solid $clr--primary;
    background-color: $clr--primary;
    h3,
    h4,
    p {
      color: $clr--light;
    }
    h3{
      padding-bottom: 1rem;
    }
    h4 {
      padding-bottom: 1rem;
    }
    i {
      color: $clr--light;
      margin-right: 1rem;
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }
  }
  &__socials {
    display: flex;
  }
}
