@use "../abstract/" as *;
@use "../base/" as *;

.header{
    padding: 3rem 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &__wrapper{
        @include between();
    }
    &__logo {
      h3>a {
      color: $clr--dark;
    }
  }
  &__nav{
    ul{
        display: flex;
        gap: 3rem;
        align-items: center;
        li a {
            color: $clr--dark;
        }
    }
  }
}